.Rproj.user
.Rhistory
.RData
tex/cover.log
pdf/cover.pdf
tex/cover.synctex.gz
tex/CoverLetter.log
pdf/CoverLetter.pdf
tex/CoverLetter.synctex.gz
tex/CoverLetter.tex
tex/resume_alternate.log
tex/resume_alternate.synctex.gz
tex/resume_moderncv.log
tex/resume_moderncv.synctex.gz
resume
latexdocs.Rproj
sentiment.py.rtfd
